<div
  class="container-fluid h-100 p-3 | applicationBackground applicationTextColor"
>
  <div
    class="container p-3 | form-container applicationComponentBackground applicationTextColor"
  >
    <image src="/images/pageNotFound.png"></image>
  </div>
</div>
